graphics/
Data/
*.pyc
*~
kernel/tmp.py
*.png
*.mpg
/**/*.png
/**/*.mpg
Data/**/*.png
Data/**/*.mpg
.pydevproject
.project
tests/graphics
tests/Data
tests/Data/**/*.mpg
tests/Data/**/*.png


# C files
*.o
*.so
gpr4all/C/build
C/Test_auxC.py
C/Test_krigger.py
illustrations/*.*
