# general file types to be ignored
*.py[cod]
*~
*.png
*.mpg
*.o
*.so
.pydevproject
.project
*.pdf
*.dvi
*.out
*.log
*.aux
*.backup
oldg*.*
*pytest_cache*

#directories to be ignored
/**/graphics/
/**/Data/
/**/build
/**/ilustrations
/**/illustrations
/**/[Bb]in

# specific files
preparations.py
gpr4all/tmp.py
gpr4all/Test_Movie*
