# general file types to be ignored
*.py[cod]
*~
*.png
*.mpg
*.o
*.so
.pydevproject
.project
*.pdf
*.dvi
*.out
*.log
*.aux
*.backup
oldg*.*


#directories to be ignored
/**/graphics/
/**/Data/
/**/build
/**/ilustrations
/**/illustrations
/**/[Bb]in

# specific files
preparations.py
